* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: #000000;
  min-height: 100vh;
  color: #fff;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;   /* x.ai type layout */
  margin: 0 auto;      /* center */
  padding: 0 100px;     /* left & right space */
}