.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: pink;
  background: transparent;
  z-index: 100;
}

.navbar-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-center {
  display: flex;
  gap: 32px;
}

.navbar-center a {
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
  letter-spacing: 1.2px;
  transition: color 0.2s ease;
}

.navbar-center a:hover {
  color: #fff;
}

.try-btn {
  background: transparent;
  color: #fff;
  border: 1px solid #444;
  padding: 10px 17px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.try-btn:hover {
  background-color: rgba(245, 245, 245, 0.1);
  border-color: #777;
}